#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.75);
  z-index: 10;
}

#modal {
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100%;
  background: white;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.26);

  @media only screen and (min-width: 768px) {
    top: 10vh;
    left: 10%;
    width: 80%;
  }

  @media only screen and (max-height: 480px) {
    height: 100vh;
    overflow-y: scroll;
  }
}
