/* You can add global styles to this file, and also import other style files */
:root {
  --theme-dark-orange: #f29c40;
  --theme-light-orange: #f8cd9f;
  --theme-dark: grey;
  --theme-light: white;
}

body {
  font-family: sans-serif;
}
