/* You can add global styles to this file, and also import other style files */
:root {
  --theme-dark-orange: darkorange;
  --theme-light-orange: orange;
  --theme-dark: grey;
  --theme-light: white;
}
